header {
  width: 100%;
  padding: 0 0 10px;

  .login-form {
    width: 100%;
    padding: 0 40px;
    display: table;

    p {
      font-size: 2rem;
    }

    i {
      width: 100px;
      height: 100px;
      font-size: 5rem;
      line-height: 92px;
    }

    a {
      color: #fff;
    }

    .login-button {
      display: table-cell;
      float: left;

      p {
        display: inline;
      }
    }

    .login-user {
      padding: 20px 35px 0 0;
      display: table-cell;
      float: right;
    }

    @media (max-width: 720px) {
      padding: 0;

      i {
        width: 70px;
        font-size: 3rem;
      }

      .login-user {
        padding: 18px 25px 0 0;
      }
    }
  }
}
